<!-- Education -->
<style media="max-width:500px">
  img {
    width:85%; 
    height:85%;
  }
</style>
<section class="page-section" id="education">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Education</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 edCon1">
        <h5>Purdue University (West Lafayette, IN)</h2>
          <h6>School of Aeronautics & Astronautics</h6>
        <ul style="margin-left: 30px;">
          <li>
            Ph.D. in Aerospace Engineering (Structural Mechanics)
            <br><strong>Dissertation</strong>: <a href="https://hammer.purdue.edu/articles/thesis/COMPUTATIONAL_VISCOELASTIC_DAMAGE_MODELING_OF_COMPOSITE_MATERIALS_IN_EXTRUSION_DEPOSITION_ADDITIVE_MANUFACTURING/14877864/1">
              Computational Viscoelastic Damage Modeling of Composite Materials in Extrusion Deposition Additive Manufacturing</a>
          </li>
          <li>
            M.S. in Aerospace Engineering (Structural Mechanics)
            <br><strong>Thesis</strong>: <a href="https://www.proquest.com/openview/21418c968ab78f4dec1bafe67ecb49df/1?pq-origsite=gscholar&cbl=18750">
              In-silico Tensile Testing of Additively Manufactured Short Fiber Composite</a>
          </li>
        </ul>
        <h5>University at Albany (Albany, NY)</h5>
        <h6>College of Nanoscale Science & Engineering</h6>
        <ul style="margin-left: 30px;">
          <li>
            B.S. in Nanoscale Engineering<br>Minor: Math
          </li>
        </ul>
      </div>
      <div class="col-sm-6 text-right edCon2">
        <img class="img-fluid" src="assets/img/grad1.jpg" alt="" width="450px" height="300px" style="border-radius: 10%;border:solid;border-color: black;">
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6 edCon3">
          <h5>Coursework History</h5>
          <h6>Graduate:</h6>
          <ul style="margin-left: 30px;">
          <li>Theory of Elasticity</li>
          <li>Finite Element Method in Aerospace Structures</li>
          <li>Mechanics of Composite Materials</li>
          <li>Manufacturing of Advanced Composite Materials</li>
          <li>Dynamics & Stability in Aerospace Structures</li>
          <li>Micromechanics</li>
          <li>Characterization of Advanced Composite Materials</li>
          <li>Multiscale Structural Mechanics</li>
          <li>Design Theory and Methods for Aerospace Systems</li>
          <li>Statistical Methods</li>
          <li>Applied Regression Analysis</li>
          <li>Systems of Systems Modeling & Analysis</li>
          <li>Space Flight Operations</li>
          <li>Product & Process Design</li>
          <li>Advanced Math I</li>
          <li>Advanced Math II</li>
          </ul>
          <h6>Undergraduate:</h6>
          <ul style="margin-left: 30px;">
            <li>Thin Film and Nanomaterials Characterization</li>
            <li>Magnetic Nanostructures</li>
            <li>Fluid Mechanics and Transport Processes</li>
            <li>Mechanics of Nanomaterials</li>
            <li>Electronic, Optical and Magnetic Properties of Nanomaterials</li>
            <li>Thermodynamics and Kinetics of Nanomaterials</li>
            <li>Introduction to Solar Cell Nanotechnology</li>
            <li>Industrial Nanomanufacturing</li>
            <li>Nanophotonics</li>
            <li>Advanced Materials Processing for NEMS/MEMS</li>
            <li>Introduction to Nanoengineering Design and Manufacturing</li>
          </ul>
          <a data-toggle="modal" href="#co">
          <button class="btn btn-primary" type="button" style="float:left;">See More Details</button>
          </a>
        </div>
        <div class="col-sm-6 text-right edCon4">
          <img class="img-fluid" src="assets/img/grad2.jpg" alt="" width="450" height="300" style="border-radius: 10%;border:solid;border-color: black;">
          <img class="img-fluid" src="assets/img/grad3.jpg" alt="" width="450" height="300" style="border-radius: 10%;border:solid;border-color: black;margin-top: 35px;">
        </div>
    </div>
  </div>
</section>
<!-- Hobby Modals -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<div
  class="portfolio-modal modal fade"
  id="co"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h3 class="text-uppercase">Graduate Courses</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg text-left">
            <h5>Theory of Elasticity</h5>
            <ul style="margin-left: 30px;">
              <li>Applying fundamental principles and solution techniques used in the stress analysis of elastic solids and structures</li>
            </ul>
            <h5>Finite Element Method in Aerospace Structures</h5>
            <ul style="margin-left: 30px;">
              <li>Understand the theory behind finite element calculations of stress, strain, and deformation in structures and materials</li>
            </ul>
            <h5>Mechanics of Composite Materials</h5>
            <ul style="margin-left: 30px;">
              <li>Transform material properties between various coordinate systems. Compute effective properties of composites. Predict displacement, stress, strain, strength and failure of lamina and laminates under mechanical and thermal loads</li>
            </ul>
            <h5>Manufacturing of Advanced Composite Materials</h5>
            <ul style="margin-left: 30px;">
              <li>Examine the phenomena involved in the net-shaped manufacturing of fiber reinforced polymer composite structures such as: Darcy flow, permeability and compaction of fiber beds, thermoset reaction kinetics, polymer viscosity, heat transfer, void formation, polymer physical properties, and anisotropic composite properties</li>
            </ul>
            <h5>Dynamics & Stability in Aerospace Structures</h5>
            <ul style="margin-left: 30px;">
              <li>Conceptual understanding of problems in the dynamics and stability of continuous lightweight structural systems and of the relevant analytical tools regarding general structural principles, Ritz method for discrete approximations, modal analysis, nonlinear vibrations, and stability of motion</li>
            </ul>
            <h5>Micromechanics</h5>
            <ul style="margin-left: 30px;">
              <li>Analyze problems in micromechanics and interpret technical literature relevant to micromechanics. Comprehensive understanding of the methods for the analysis and prediction of properties of micro-structured materials</li>
            </ul>
            <h5>Characterization of Advanced Composite Materials</h5>
            <ul style="margin-left: 30px;">
              <li>Familiar with composite microstructural characterization, lamina longitudinal, shear, off-axis, flexural, thermoelastic and compression tests, laminate tensile, thermoelastic, notch strength, mode I and II interlaminar fracture, stacking sequence and compression tests</li>
            </ul>
            <h5>Multiscale Structural Mechanics</h5>
            <ul style="margin-left: 30px;">
              <li>Capable of identifying distinct features of composites and challenges associated with modeling and simulation of composites. Perform critical evaluation of major theories in the literature regarding their strengths and weaknesses</li>
                <li>Capable of examining and explaining simulation results for composite structures. Able to apply mechanics of structure genome to derive new models for composite structures</li>
                <li>Capable of designing and analyzing composite structures using SwiftComp and ABAQUS/Standard</li>
            </ul>
            <h5>Design Theory and Methods for Aerospace Systems</h5>
            <ul style="margin-left: 30px;">
              <li>Generated system-level requirements for aerospace systems. Applied design methods and tools to create conceptual designs of aerospace systems, assessed design against requirements, and performed trade-off studies</li>
            </ul>
            <h5>Statistical Methods</h5>
            <ul style="margin-left: 30px;">
              <li>Familiar with statistical methods and tools such as hypothesis testing, two sample inference, analysis of variance (ANOVA), multi-factor analysis of Variance, and simple linear regression</li>
            </ul>
            <h5>Applied Regression Analysis</h5>
            <ul style="margin-left: 30px;">
              <li>Simple linear regression (SLR), statistical inference for the slope and intercept in SLR,
                interval estimation of mean response, confidence band for regression line, ANOVA approach to regression analysis,
                Pearson correlation and R<sup>2</sup>, F-test for lack of fit, Diagnostics in SLR, remedial procedure in SLR transformation,
                simultaneous confidence inference in SLR, linear regression in matrix form
              </li>
              <li>Multiple linear regression (MLR) introduction & prediction,
                  extra sums of squares in MLR, MLR partial correlation, MLR multicollinearity, MLR polynomial, MLR qualitative predictors,
                  MLR model selection criterion, MLR automatic model selection, MLR diagnotics, MLR remedy, one-way ANOVA factor effect model,
                  two-way ANOVA factor level means study, unequal cell sample size type III ANOVA, fixed random effects
              </li>
            </ul>
            <h5>Systems of Systems Modeling & Analysis</h5>
            <ul style="margin-left: 30px;">
              <li>Recognize problems that have system-of-systems traits</li>
              <li>Understand the structure and behavior of such problems</li>
              <li>Translate problem to addressable form</li>
              <li>Formulate tailored analysis methodologies for these problems</li>
              <li>Emphasis: modern network science and agent-based modeling</li>
              <li>Synthesize solution candidates by understanding decision criteria</li>
              <li>Articulate both problem and analysis in written and verbal formats</li>
            </ul>
            <h5>Space Flight Operations</h5>
            <ul style="margin-left: 30px;">
              <li>Understanding of the terminology associated with space flight operations</li>
              <li>Ability to assess and design mission concept of operations, and understand the implications of the mission architecture to operability</li>
              <li>Development of technical resource budgets, spanning mass, power, thermal, telecommunications, data volume</li>
              <li>Understanding of the roles and responsibilities of a flight team</li>
              <li>Understanding of the processes involved in operating a mission</li>
              <li>Ability to identify and mitigate mission risks</li>
            </ul>
            <h5>Product & Process Design</h5>
            <ul style="margin-left: 30px;">
              <li>Product development process, design thinking, exploring the design spaces, product planning methods,
                product opportunity identification, value engineering and value analysis, product opportunity understanding (market research techniques, value mapping, functional decomposition, lean-QFD),
                concept generation (visual thinking, storyboarding, brainstorming, SCAMPER, morphology),
                concept selection and decision making (morphology, weighted matrix),
              </li>
              <li>Innovation and creativity, product platforms and product architectures, business models, business model generation and design, environmental issues (sustainability and circular design),
                internet of things (IoT), syber-physical systems (CPS) and collaborative intelligence, fast and high-fidelity prototyping techniques
              </li>
            </ul>
            <h5>Advanced Math I</h5>
            <ul style="margin-left: 30px;">
              <li>Linear algebra, systems of ordinary differential equations, Laplace transforms, Fourier series and transforms, and partial differential equations</li>
            </ul>
            <h5>Advanced Math II</h5>
            <ul style="margin-left: 30px;">
              <li>Divergence theorem, Stokes theorem, complex variables, contour integration, calculus of residues and applications, conformal mapping, and potential theory</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h3 class="text-uppercase">Undergraduate Courses</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg text-left">
            <h5>Thin Film and Nanomaterials Characterization</h5>
            <ul style="margin-left: 30px;">
              <li>Received an overview of various techniques used for investigating nanoscale sized thin films and examining materials and composition. The techniques include optical microscopy, scanning electron microscopy, scanning probe microscopy, electron beam instruments coupled with specific detectors for monitoring particle emission</li>
            </ul>
            <h5>Magnetic Nanostructures</h5>
            <ul style="margin-left: 30px;">
              <li>Fundamental understanding of condensed matter behavior of metallic, dielectric, and molecular nature. Fundamental understanding includes electron transport in metals (Drude model), electric field frequency dependence of metallic conductivity and polarization, atomic polarizability (Clausius-Mossotti relation), quantum theory of atomic paramagnetism, molecular field theory, and various quantum mechanical concepts: particle in a well, perturbation theory, band formation, and tight-binding model. Interpreting magnetic characterization methods such as the neutron diffraction for crystalline materials</li>
            </ul>
            <h5>Fluid Mechanics and Transport Processes</h5>
            <ul style="margin-left: 30px;">
              <li>Fundamental understanding of heat, mass, and momentum transport material systems. Application of the fundamental balance equation to solve for state variables under steady-state and non-steady-state conditions</li>
            </ul>
            <h5>Mechanics of Nanomaterials</h5>
            <ul style="margin-left: 30px;">
              <li>Understanding of atomic and molecular elastic property origins in nanoscale sized materials. Understanding of the theory of elasticity in isotropic and anisotropic solids. Obtained an introduction to the nonlinear and inelastic deformation of materials at the nanoscale</li>
            </ul>
            <h5>Electronic, Optical and Magnetic Properties of Nanomaterials</h5>
            <ul style="margin-left: 30px;">
              <li>Understanding of underlying atomic, molecular and electronic configuration in the fundamental electronic, optical and magnetic properties of material systems. Understanding how properties vary between different types of materials and how to tailor properties for specific applications</li>
            </ul>
            <h5>Thermodynamics and Kinetics of Nanomaterials</h5>
            <ul style="margin-left: 30px;">
              <li>Understanding of basic thermodynamics structure such as state functions, process variables, intensive or extensive properties and the laws of thermodynamics. Able to develop, manipulate, and utilize relationships between thermodynamic variables and apply these relations to gases, liquids and solids. Understanding of how thermodynamics processes determine the equilibrium structures of materials at the macroscale, microscale and nanoscale</li>
            </ul>
            <h5>Introduction to Solar Cell Nanotechnology</h5>
            <ul style="margin-left: 30px;">
              <li>Solar cells definitions, case studies, solar market and economics</li>
              <li>Solar radiation</li>
              <li>Fundamentals of semiconductor Physics</li>
              <li>Physics of devices and solar cells</li>
              <li>Silicon-based devices</li>
              <li>Silicon nanostructures, nanowires</li>
              <li>Electrical measurements - Device characterization</li>
              <li>Structural characterization of solar cells</li>
              <li>Thin Films, CuInGaSe2 and CdTe based devices</li>
              <li>Module development, arrays</li>
            </ul>
            <h5>Industrial Nanomanufacturing</h5>
            <ul style="margin-left: 30px;">
              <li>Industrial engineering concepts common to modern fabrication facilities and processes</li>
              <li>Interaction of labor, capital, technology, and their role in driving design and management structure</li>
              <li>Design for optimization of yield and productivity</li>
              <li>DOE and other statistical methods for setting tool variables</li>
              <li>Manipulation of large data sets for statistical significance and yield improvement</li>
              <li>Automated process control and automatic equipment control as key productivity tools in modern fabs</li>
            </ul>
            <h5>Nanophotonics</h5>
            <ul style="margin-left: 30px;">
              <li>Operating principles of nanophotonic devices (light sources, modulators, couplers, waveguides, and optical plasmonics) and PIC fabrication methodologies including monolithic and polylithic integration schemes</li>
            </ul>
            <h5>Advanced Materials Processing for NEMS/MEMS</h5>
            <ul style="margin-left: 30px;">
              <li>Lithography, mask design, alignment marks</li>
              <li>Mechanical properties of MEMS materials</li>
              <li>MEMS support structures/Micromechanics</li>
              <li>Multiproject wafer processes/MEMSCap</li>
              <li>E-edit, mask design</li>
              <li>Overview of MEMS actuation and sensing principles</li>
              <li>Piezoelectric materials and devices, electrostatic devices, thermal MEMS, accelerometers, gyroscopes,
                feedback loop electronics, magnetic devices, MOEMS, microrobots, MEMS packaging, Reliability, microsystem performance
              </li>
            </ul>
            <h5>Introduction to Nanoengineering Design and Manufacturing</h5>
            <ul style="margin-left: 30px;">
              <li>Introduction to Nanodesign</li>
              <li>CMOS Logic Design Basics</li>
              <li>Layout & Design Rule</li>
              <li>Transistor Theory</li>
              <li>Circuit Performance</li>
              <li>Power and Scaling</li>
              <li>Interconnects (Wires)</li>
              <li>IC Fabrication & Manufacturing</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <button
            class="btn btn-primary"
            data-dismiss="modal"
            type="button"
          >
            <i class="fas fa-times"></i>
            Close
            </button>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div
  class="portfolio-modal modal fade"
  id="co"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">{{ project.title }}</h2>
              <p class="item-intro text-muted">{{ project.subtitle }}</p>
              <img
                class="img-fluid d-block mx-auto"
                src="{{ project.image }}"
                alt="{{ project.alt }}"
              />
              <p>{{ project.content }}</p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                {{ site.data.sitetext.hobbies2.closebutton |
                default: "Close Hobby" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- End Education -->