<!-- Skills -->
<section class="bg-light page-section" id="skills">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Skills</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mx-auto text-left">
          <h5>Computer-Aided Engineering (CAE)</h5>
          <ul style="margin-left: 30px;">
            <li>Abaqus</li>
            <li>Ansys</li>
            <li>Femap</li>
            <li>Nastran</li>
            <li>Nasgro</li>
            <li>Hexagon - Digimat</li>
            <li>SwiftComp</li>
            <li>Calculix</li>
            <li>NASA - EFAST</li>
          </ul>
        </div>
        <div class="col-lg-4 mx-auto text-left">
          <h5>Computer-Aided Design (CAD)</h5>
          <ul style="margin-left: 30px;">
            <li>SolidWorks</li>
            <li>SpaceClaim</li>
            <li>Autodesk Inventor</li>
            <li>Catia V5</li>
            <li>FreeCAD</li>
          </ul>
        </div>
        <div class="col-lg-4 mx-auto text-left">
          <h5>Programming</h5>
          <ul style="margin-left: 30px;">
            <li>Python</li>
            <li>Fortran</li>
            <li>C</li>
            <li>Git</li>
            <li>Matlab</li>
            <li>GNU Octave</li>
            <li>Mathematica</li>
            <li>R</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mx-auto text-left">
          <h5>Manufacturing Processes</h5>
          <ul style="margin-left: 30px;">
            <li>Additive Manufacturing <br>(Polymer/Polymer Composites)</li>
            <li>Compression Molding <br>(Polymer/Polymer Composites)</li>
            <li>Waterjet Cutting</li>
            <li>Vacuum Assisted Resin Transfer Molding (VARTM)</li>
            <li>Pultrusion (Polymer Composites)</li>
          </ul>
        </div>
        <div class="col-lg-4 mx-auto text-left">
          <h5>Characterization Equipment</h5>
          <ul style="margin-left: 30px;">
            <li>MTS 810 (including static and fatigue operation)</li>
            <li>MTS 651 environmental chamber</li>
            <li>Load-cell (1, 5, 22, and 55 kips)</li>
            <li>Digital Image Correlation (DIC)</li>
            <li>VIC2D and VIC3D</li>
            <li>Dynamic Mechanical Analyzer (DMA)</li>
            <li>Differential Scanning Calorimetry (DSC)</li>
            <li>Coordinate Measuring Machine (CMM)</li>
            <li>micro-Computed Tomography (micro-CT)</li>
            <li>Scanning Electron Microscopy (SEM)</li>
            <li>Keithley 224 power source</li>
            <li>Keithley 2002 precision multimeter</li>
            <li>Optical Microscopy</li>
            <li>LECO SS1000 Grinder/Polisher</li>
            <li>Four-Point Probe Method</li>
            <li>Electron Energy Loss Spectroscopy (EELS)</li>
          </ul>
        </div>
        <div class="col-lg-4 mx-auto text-left">
          <h5>Additional Software/Hardware</h5>
          <ul style="margin-left: 30px;">
            <li>Simplify3D (3D Slicer)</li>
            <li>KMotionCNC (Additive Manufacturing)</li>
            <li>LabView</li>
            <li>VGStudio Max (micro-CT post-processor)</li>
            <li>NI data acquisition systems</li>
            <li>Strain gauges</li>
            <li>Minitab</li>
            <li>Arduino</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Skills -->